.financial-button {
  margin: 50px auto 0;
  background-color: #4caf50;
  color: #fff;
  padding: 20px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s;
}

.financial-button:hover {
  background-color: #45a049; /* Cor de fundo mais escura ao passar o mouse */
}
